#wd-array-state-variables {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    width: 325px;
    
}
#array-buttons {
    margin: 5px
}

#wd-add-todo-click {
    float: right;
    z-index: 10;
    margin-left: 10px;
}

#wd-update-todo-click{
    float: right;
}

#wd-delete-todo-click{
    float: right;
    z-index: 9;
    margin-left: 10px;

}

#wd-set-todo-click{
    float: right;


}
#todo-form {
    width: 150px;
    
}

#todo-group {
    width: 400px;
}
